

.NewBeech-header {
    align-items: center;
    border: 2px solid #E6ECF0;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.NewBeech i {
    color: #1DA1F2;
    font-size: 1.4rem;
}

.NewBeech-main {
    border: 2px solid #E6ECF0;
    border-top: none;
    display: flex;
    padding: 10px 15px;
}

.NewBeech-aside {
    padding: 0 10px;
    width: 100%;
}


.NewBeech-footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.NewBeech-footer i {
    margin: 0 10px;
}

.NewBeech-button {
    background-color: #34B3F7;
    border: none;
    border-radius: 25px;
    color: #fff;
    display: inline-block;
    font-size: 1rem;
    margin-bottom: 10px;
    padding: 10px 25px;

}